/home-assistant.log
/home-assistant_v2.db
/home-assistant_v2.db-shm
/home-assistant_v2.db-wal
/.HA_VERSION
/configuration.yaml

python_scripts/jb/gym1.db

\tts
\deps
\blueprints
\.cloud

.storage/core.*
.storage/auth*
.storage/evohome
.storage/frontend*
.storage/http
.storage/mobile_app
.storage/onboarding
.storage/persona

custom_components/clientraw/__pycache__/*
